body {
  font-family: "Montserrat";
  align-items: center;
  padding: 20px 60px;
  background-image: linear-gradient(to bottom right, #6a7148, #2a3b1b);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #989f7d;
}

a {
  text-decoration: none;
  color: black;
}
