body{
  font-family: 'Montserrat';
  padding: 20px 60px;
  background-image: linear-gradient(to bottom right, #6A7148, #2A3B1B);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a{
  text-decoration: none;
  color: black;
}